PORT=8080
# Application
APPLICATION_NAME=simple-restful-api

# Database
DB_DSN="host=localhost user=root password=root dbname=gin-gonic-api port=5432"
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

# Logging
LOG_LEVEL=DEBUG